body {
    margin: 0;
    padding: 0;
}

.conteiner {
    color: white;
    background-color: rgba(40, 40, 100, 0.959);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



header {
    padding-top: 20px;
    text-align: center;
}

header h1 {
    padding-bottom: 10px;
    text-decoration: none;
}

div {
    padding: 20px;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*Datos personales y academicos*/
#datos-personales {
    align-items: center;
    display: flex;
    background-color: gray;
    justify-content: space-evenly;
    border-radius: 50px;
    border: solid 1px;
    margin: 35px 0 40px;

}

img {
    border: solid 3px rgba(158, 87, 87, 0.315);
    border-radius: 40%;
}

.datos {
    padding: 10px;
    display: flex;
}

.datos-1 li, .datos-2 li {

    font-size: x-large;
    font-weight: bolder;
    justify-content: space-between;
    margin-bottom: 27px;
}

.datos-1 ul, .datos-2 ul {
    padding: 0;
    list-style: none;
    text-align: center;
}

/*---Experiencias laborales---*/
#experiencia section {
    padding: 30px;
}

p {
    padding-bottom: 25px;
}

#experiencia p:hover {
    translate: 4px;
    transition: 0.5s;
}

.botones {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
}

/*---Conocimientos---*/
#conocimientos section ul li {
    padding: 7px;
    list-style: disc;

}

.descripcion {
    padding-top: 50px;
    display: flex;
    font-size: large;
    text-align: center;
    justify-content: center;
}

/*---Pie de pagina---*/
#pie form {
    display: flex;
    flex-direction: column;
    align-items: center;

}

label {
    margin: 0 5px 0 15px;
}

.botones a {
    padding: 10px;
    margin: 50px;
    letter-spacing: 2px;
    border-radius: 15%;
    color: white;
    border: solid white 0.1px;
    font-weight: bolder;
    text-decoration: none;
    background-color: rgba(187, 185, 185, 0.432);
}

.botones a:hover {
    background-color: rgba(128, 128, 128, 0.253);
}

#boton-input {
    padding: 5px;
    display: initial;
    color: white;
    margin-left: 5px;
    border-radius: 7px;
    background-color: rgba(128, 128, 128, 0.432);
}

textarea, input {
    resize: none;
    margin-left: 5px;
    margin-top: 4px;


}

#pie p {
    display: flex;
    flex-direction: column;
    margin: 0px;

}
